// Specific CSS for your home-page
.form-block {
    margin-top: 40px;
}

.my-container {
    width: 1000px;
    margin: 0 auto;
}

.icon {
    display:flex;
    align-items: flex-end;
    justify-content: center;
    .plus {
        font-size: 32px;
    }
}