<div class="w-75 text-center w-75" style="margin: 0 auto; ">

  <h1 class="font-weight-bold" style="margin-top: 200px;">DOCUMENTO FISCAL SIMPLIFICADO DE SERVIÇOS DE MICROEMPREENDEDOR INDIVIDUAL – MEI</h1>
  <h2 style="margin-top: 150px;">Extraído em <%= 3 - 1 %> vias</h2>

  <br>
  <br>

  <h1 class="font-weight-bold">NOME COMPLETO DO USUÁRIO 999.999.999-99</h1>

  <br>

  <h1>ENDEREÇO COMPLETO DA PESSOA COM O CEP TAMBÉM 99.999-99</h1>

  <br>

  <h1>CNPJ: 99.999.999/0001-99 NIRE: 99-9-99999999-9</h1>

  <br>

  <h1>DATA DE EMISSÃO: 99/99/9999   Nº9</h1>

  <br>

  <h1>1ª VIA TOMADOR DE SERVIÇO</h1>

  <br>

  <h1 class="font-weight-bold">TOMADOR DO(S) SERVIÇO(S)</h1>

</div>

<!-- --------------------------------------------------------------------------------- -->
  <br>
  <br>
  <br>

<div class="w-75 text-left w-75" style="margin: 0 auto; ">

  <h2>Nome EMPRESA CLIENTE LTDA</h2>

  <br>
  <br>

  <h2>Endereço ONDE FICA A EMPRESA DO CLIENTE, 99.999-999</h2>

  <br>
  <br>

  <h2>CNPJ/CPF 99.999.999/0001-99</h2>

  <br>

<!-- --------------------------------------------------------------------------------- -->

  <hr style="border: 2px solid black;">
    <div class="container d-flex justify-content-between">
      <div class="text-align "><h4 class="font-weight-bold m-0">Discriminação dos serviços</h4></div>
      <div class="text-align "><h4 class="font-weight-bold m-0">Valor</h4></div>
    </div>
  <hr style="border: 2px solid black;">


  <ul>
    <li>
      <div class="container d-flex justify-content-between">
        <div class="w-50">AQUI É PRA COLOCAR O SERVIÇO DESCRITO E COMO FOI FEITO, COM UM CERTO NÍVEL DE DETALHES E POR ISSO ESTOU TESTANDO A QUANTIDADE DE CARACTERES</div>
        <div>R$ 10000,00</div>
      </div>
    </li>
    <li>
      <div class="container d-flex justify-content-between">
        <div class="w-50">AQUI É PRA COLOCAR O SERVIÇO DESCRITO E COMO FOI FEITO, COM UM CERTO NÍVEL DE DETALHES E POR ISSO ESTOU TESTANDO A QUANTIDADE DE CARACTERES</div>
        <div>R$ 10000,00</div>
      </div>
    </li>
  </ul>
</div>


<br>
<br>
<br>
<br>
<br>


<h1>Nota brabíssima</h1>
<h2>As infos vindas da hash ficarão por aqui</h2>

<%= link_to "Ver pdf da nota", "#{nota_path}.pdf", class: "btn btn-primary" %>




